trigger:
  branches:
    include:
    - master
    exclude:
    - develop

variables:
- group: 'default'

stages:
- stage: 'Build'
  jobs:
  - job: 'Artifacts'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: PublishPipelineArtifact@0
      displayName: 'Artifacts : Publish'
      continueOnError: false
      inputs:
        artifactName: artifacts
        targetPath: $(Build.SourcesDirectory)
- stage: 'Release'
  jobs:
  - job: 'Templates'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: DownloadPipelineArtifact@0
      displayName: 'Artifacts : Download'
      continueOnError: false
      inputs:
        artifactName: artifacts
        targetPath: $(System.DefaultWorkingDirectory)
    - task: AzureResourceGroupDeployment@2
      displayName: 'Templates : Validation'
      continueOnError: false
      inputs:
        azureSubscription: $(subscription)
        resourceGroupName: $(resourceGroupName)
        location: $(locationName)
        csmFile: '$(System.DefaultWorkingDirectory)/src/templates/azuredeploy.json'
        overrideParameters: -storageAccountName $(storageAccountName) -componentName $(componentName) -serverfarmName $(serverfarmName) -siteName $(siteName) -keyVaultName $(keyVaultName)
        deploymentMode: Validation
    - task: AzureResourceGroupDeployment@2
      displayName: 'Templates : Complete'
      continueOnError: false
      inputs:
        azureSubscription: $(subscription)
        resourceGroupName: $(resourceGroupName)
        location: $(locationName)
        csmFile: '$(System.DefaultWorkingDirectory)/src/templates/azuredeploy.json'
        overrideParameters: -storageAccountName $(storageAccountName) -componentName $(componentName) -serverfarmName $(serverfarmName) -siteName $(siteName) -keyVaultName $(keyVaultName)
        deploymentMode: Complete
        deploymentName: Microsoft.VisualStudio
  - job: 'Functions'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: DownloadPipelineArtifact@0
      displayName: 'Artifacts : Download'
      continueOnError: false
      inputs:
        artifactName: artifacts
        targetPath: $(System.DefaultWorkingDirectory)
    - task: ArchiveFiles@2
      displayName: Archive
      continueOnError: false
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)/src/functions'
        includeRootFolder: false
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    - task: AzureFunctionApp@1
      displayName: Deploy
      continueOnError: false
      inputs:
        azureSubscription: $(subscription)
        appType: functionApp
        appName: $(siteName)
        package: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
    dependsOn: 'Templates'